:root {
    --cor-fundo: #3c9c77;
    --cor-principal: #ffffff ;
    --cor-secundaria: #212333;
    --cor-destaque: #83bba8;
    --cor-texto: #91b8a8;

  }

  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
  }
  
    h1{
    color: var(--cor-destaque);
    }  